
/* .overlay{
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.dialog{
    width: 300px;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;

} */



.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1em; 
    width: 300px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgb(28, 56, 70);
}

.d-none{
    display: none;
}

td{
    color: whitesmoke;
    text-align: start;
}

.td-center-width{
    width: fit-content;
}

.td-value-padding-top{
    padding-top: 3px;
}