#test{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.pkm-img{
    height: 115px;
}

.pkm-card{
    width: 150px;
    height: 210px;
    min-width: 200px;
    background-color: aliceblue;
    border-radius: 16px;
}

.pkm-img-container{
    height: 120px;
    background-color: rgb(238, 204, 161);
    display: flex;
    justify-content: center;
    align-items: end;
}

/* .ta-center{
    text-align: center;
}

.mt-10px{
    margin-top: 10px;
}

.mb-10px{
    margin-bottom: 10px;
} */

h2{
    background-color: rgb(10, 97, 210);
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.pkm-type-img{
    width: 35px;
}

.types{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    padding-top: 5px;

}

.pkm-img-background-grass{
    background-color: green;
}

.pkm-img-background-fire{
    background-color: red;
}

.pkm-img-background-water{
    background-color: blue;
}

.pkm-img-background-bug{
    background-color: greenyellow;
}

.pkm-img-background-dark{
    background-color: rgb(83, 82, 82);
}

.pkm-img-background-dragon{
    background-color: orange;
}

.pkm-img-background-electric{
    background-color: yellow;
}

.pkm-img-background-fairy{
    background-color: pink;
}

.pkm-img-background-fighting{
    background-color: rgb(213, 173, 120);
}

.pkm-img-background-flying{
    background-color: lightblue;
}

.pkm-img-background-ghost{
    background-color: rgb(151, 148, 148);
}

.pkm-img-background-ground{
    background-color: lightgray;
}

.pkm-img-background-ice{
    background-color: rgb(116, 209, 240);
}

.pkm-img-background-poison{
    background-color: rgb(7, 246, 7);
}

.pkm-img-background-psychic{
    background-color: rgb(165, 32, 165);
}

.pkm-img-background-rock{
    background-color: rgb(133, 115, 96);
}

.pkm-img-background-steel{
    background-color: rgba(152, 141, 141, 0.659);
}