#test{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.pkm-img{
    height: 115px;
}

.pkm-card{
    height: 210px;
    min-width: 200px;
    background-color: rgb(28, 56, 70);
    border-radius: 8px;
}

.pkm-img-container{
    height: 120px;
    background-color: rgb(238, 204, 161);
    display: flex;
    justify-content: center;
    align-items: end;
}

/* .ta-center{
    text-align: center;
}

.mt-10px{
    margin-top: 10px;
}

.mb-10px{
    margin-bottom: 10px;
} */



.pkm-type-img{
    width: 35px;
}

.types{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 54px;
    

}

.input{
    position: fixed;
    top: 50px;
    left: 30px;
}

.input-2{
    position: fixed;
    top: 50px;
    left: 200px;
}

.btn-render-more{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

/* .card-header{
    background-color: rgba(3, 80, 115, 0.8);
    border-radius: 7px 7px 0 0;
    
    
} */

