/* Universal box-sizing and base color settings */
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  color: rgb(235, 224, 210);
}

/* Custom font-face for Saira */
@font-face {
  font-family: Saira;
  src: url(./fonts/Saira/Saira-VariableFont_wdth\,wght.ttf);
}

/* Body background and font settings */
body {
  background-color: rgb(13 26 32);
  position: relative;
  font-family: "Saira", sans-serif;
}

/* Headline h2 styling */
h2 {
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgb(245, 245, 245);
}

/* Utility class to disable scrolling */
.no-scroll {
  overflow: hidden;
}

/* Table cell styling */
td {
  color: whitesmoke;
  text-align: start;
}

/* Utility class to hide elements */
.d-none {
  display: none !important;
}

/* Paragraph styling */
p {
  color: white;
  margin-top: -2px;
  font-size: 16px;
}

/* Headline h1 styling */
h1 {
  color: rgb(235, 224, 210);
  font-size: 60px;
}

/* Input field styling */
input {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  color: black;
  text-align: center;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
