*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    color: rgb(235, 224, 210);
}

@font-face {
    font-family: Saira;
    src: url(./fonts/Saira/Saira-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: rgb(13 26 32);
    position: relative;
    font-family: 'Saira', sans-serif;
}

h2{
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: rgb(245, 245, 245);
}

.no-scroll{
    overflow: hidden;
}

td{
    color: whitesmoke;
    text-align: start;
}

.d-none{
    display: none !important;
}

p{
    color: white;
    margin-top: -2px;
    font-size: 16px;
}

h1{
    color: rgb(235, 224, 210);
    font-size: 60px;
}

input{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    color: black;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}